<!-- template.html -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<head>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <label for="start">Select dates to pick batches:</label>
        </div>

        <div class="row">
            <input type="date" id="start_date" name="start-date" value="2020-08-01" v-model="sDate">
        </div>

        <div class="row">
            <input type="date" id="end_date" name="end-date" value="2020-08-04" v-model="eDate">
        </div>

        <div class="row">
            <label for="lines">Choose a line to fetch data:</label>
            <select name="lines" id="lines" v-model="selected_line">
                <option value="Line 3">Line 3</option>
                <option value="Line2 PA Local">Line2 PA Local</option>
                <option value="PPMA Mw">PPMA Mw</option>
                <option value="Kitchen">Kitchen</option>
            </select>
        </div>
        <div id="div_line_pie_chart" v-model="pieData" style="width: 500px; height: 400px;">
            <!-- <PieChart :pieData="pieData" /> 
            <script>
                var chart = anychart.pie(pieData);
                chart.title("Line Production Data Overview");
                chart.container('div_line_pie_chart');
                chart.draw();
            </script>
           
            {{pieData}} -->
        </div>

        <table id="batches">
            <thead></thead>
            <tr>
                <td>Completion Time</td>
                <td>Batch ID</td>
                <td>Runtime</td>
                <td>Recipe</td>
                <td>Total Packs</td>
                <td>KPI</td>
            </tr>
            <tbody>
                <template v-for="item in results">
                    <tr>
                        <td>{{ item._source.TIMESTAMP }}</td>
                        <td>{{ item._source.Batch_ID }}</td>
                        <td>{{ item._source.Run_Time }}</td>
                        <td>{{ item._source.Recipe }}</td>
                        <td>{{ item._source.Total_Packs }}</td>
                        <td>{{ item._source.KPI }}</td>
                    </tr>
                    <!-- <tr v-for="child in item.children">
                <td></td>
                </tr> -->
                </template>
            </tbody>
        </table>

    </div>

</body>

<script>
    //create a new Vue instance
    //   import PieChart from "./components/PieChart"

    var app = new Vue({
        el: '#app',
        // declare the data for the component (An array that houses the results and a query that holds the current search string)
        data: {
            results: [],
            selected_line: '',
            // pieData: [{ name: "Recipe 1", value: 30 },
            // { name: "Recipe 2", value: 40 },
            // { name: "Recipe 3", value: 30 }],
            pieData: [],
            sDate: '',
            eDate: ''
        },
        // declare methods in this Vue component. here only one method which performs the search is defined
        methods: {
            // make an axios request to the server with the current search query
            // here we are calling search function for our app listening at 3001, route for /search is defined in index.js
            search: function () {
                axios.get("http://35.177.112.190:3001/search?q=" + this.selected_line + "&sDate=" + this.sDate + "&eDate=" + this.eDate)
                    .then(response => {
                        this.results = response.data;
                        // console.log(this.results)
                        this.calculatePieData(this.results);
                    })

            },
            calculatePieData: function (allResults) {
                var recipe_batch_count = {};
                var pieData2 = [{ name: "Recipe 1", value: 30 },
                { name: "Recipe 2", value: 40 },
                { name: "Recipe 3", value: 30 }];
                //var lines_from_data = {};
                var pieData3 = [];
                var data4 = [];

                var new_res = JSON.parse(JSON.stringify(allResults))

                for (var i = 0; i < new_res.length; i++) {
                    var tmp_rcp = new_res[i]._source.Recipe;
                    //console.log(tmp_rcp);
                    if (tmp_rcp in recipe_batch_count) {
                        recipe_batch_count[tmp_rcp] += new_res[i]._source.Total_Packs;
                    }
                    else {
                        recipe_batch_count[tmp_rcp] = new_res[i]._source.Total_Packs;
                    }
                }
                console.log("Dictionary");
                console.log(new_res);

                var rcp_keys = Object.keys(recipe_batch_count);
                var rcp_vals = Object.values(recipe_batch_count);
                var other_count = 0;

                for (var j = 0; j < rcp_keys.length; j++) {
                        var temp = {};
                        temp.name = rcp_keys[j];
                        temp.value = rcp_vals[j];
                        console.log("recipe: "+rcp_keys[j]+", count:"+rcp_vals[j]);
                        pieData3.push(temp);
                        data4.push(rcp_vals[j]);
                        //line_data2.append(x : rcp_keys[j], value: rcp_vals[j]);
                }
 //               pieData3.push({ x: "Others", value: other_count });

                console.log(pieData2);

                console.log("PieData 3");
                console.log(pieData3);
                console.log(data4);

                this.pieData = data4;

                var chart = anychart.pie(pieData3);
                chart.title("Line Production Data Overview");
                chart.container('div_line_pie_chart');
                chart.draw();

                // console.log("All results");
                // console.log(allResults);
                // allResults.forEach(element => {
                //     console.log(element._source.Recipe);
                //     // console.log(element.__source.Recipe + " --- " + element.__source.Total_Packs);
                // });
            }
        },
        // components:{
        //     PieChart
        // },
        // declare Vue watchers
        watch: {
            // watch for change in the query string and recall the search method
            selected_line: function () {
                this.search();
                // this.calculatePieData();
                //console.log(this.sDate);
                //drawChart(this.pieData);
            }
        }

    })
    function drawChart(pieData) {
        console.log(pieData);
        var chart = anychart.pie(pieData);
        chart.title("Line Production Data Overview");
        chart.container('div_line_pie_chart');
        chart.draw();
    }
</script>